body{
	background: #ffffff
}

p{
	font-family: "Courier New";
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.big{
	font-size: 60px;
}

h1{
	font-family: "Courier New";
	color: white;
}

.tabbtn {
    background: #E0E0E0;
    font-weight: bold;
    border: 2px solid #4980CC;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.tabbtn {
	font-weight: bold;
	transition-duration: 0.2s;
    cursor: pointer;
}